<!--
  Copyright 2015 TheShark34

  This file is part of S-Update-Server.

  S-Update-Server is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  S-Update-Server is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S-Update-Server - {{ getLangText("stats") }}</title>

    <!-- Bootstrap -->
    <link href="{{ getResource('shared', 'css/bootstrap.min.css', true) }}" rel="stylesheet">

    <!-- The S-Update Icon -->
    <link rel="icon" href="{{ getResource('shared', 'icon.png', true) }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- About CSS -->
    <link href="{{ getResource('Stats', 'css/style.css', true) }}" rel="stylesheet">

    <!-- S-Update-Server global CSS -->
    <link href="{{ getResource('shared', 'css/global.css', true) }}" rel="stylesheet">
</head>

<body>
    <div id="mainDiv">
        <img src="{{ getResource('shared', 'logo.png', true) }}" />
        <br />
        <br />
        <button style="width: 200px" onclick="window.location.href='{{ getHome() }}';">{{ getLangText('home') }}</button>
        <button style="width: 200px" onclick="window.location.href='Dashboard';">{{ getLangText('dashboard') }}</button>
        <br />
        <br />

        <hr />

        <div id="connections">
            <p>{{ connections }}</p>
            <br />

            {{ getLangText("connections") }}
        </div>
        <br />
        <br />

        <div id="clear-buttons">
            <button class="clear-button" onclick="clearConnections()">{{ getLangText("clear-connections") }}</button>
            <button id="clear-button" onclick="clearIps()">{{ getLangText("clear-ips") }}</button>
        </div>
        <br />

        <div id="ips">
            {% for ip in ips %}
                {{ ip }}<br />
            {% endfor %}
        </div>
    </div>

    <!-- The Stats Page Script -->
    <script src="{{ getResource("Stats", "js/stats.js", true) }}"></script>
</body>
</html>
