<!--
  Copyright 2015 TheShark34

  This file is part of S-Update-Server.

  S-Update-Server is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  S-Update-Server is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
-->

{#
    Redirection script if the page was acceed manually
    <?php
        header("Location: GetOutOfHere");
    ?>
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S-Update-Server - {{ getLangText("home") }}</title>

    <!-- Bootstrap -->
    <link href="{{ getResource('shared', 'css/bootstrap.min.css', true) }}" rel="stylesheet">

    <!-- The S-Update Icon -->
    <link rel="icon" href="{{ getResource('shared', 'icon.png', true) }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Index CSS -->
    <link href="{{ getResource('Index', 'css/style.css', true) }}" rel="stylesheet">

    <!-- S-Update-Server global CSS -->
    <link href="{{ getResource('shared', 'css/global.css', true) }}" rel="stylesheet">
</head>

<body>
    <div class='fulldiv'>
        <div id="centerDiv">
            <div id="left-buttons">
                <a href="Dashboard">
                    <div id="dashboard" class="button top-button" style="display: none;">
                        <img id="dashboard-icon" class="button-icon" src="{{ getResource('Index', 'images/dashboard.png', true) }}" />
                        <p id="dashboard-label" class="button-label">{{ getLangText("dashboard") }}</p>
                    </div>
                </a>

                <a href="Disconnect">
                    <div id="disconnect" class="button bottom-button" style="display: none;">
                        <img id="disconnect-icon" class="button-icon" src="{{ getResource('Index', 'images/disconnect.png', true) }}" />
                        <p id="disconnect-label" class="button-label">{{ getLangText("disconnect") }}</p>
                    </div>
                </a>
            </div>

            <div style="text-align: center;">
                <img id="sharklogo" src="{{ getResource('shared', 'sharklogo.png', true) }}" />
                <canvas id="canvas" width="350" height="350"></canvas>
                <img id="logo" style="display: none;" src="{{ getResource('shared', 'icon.png', true) }}" />
                <img id="textlogo" style="display: none;" src="{{ getResource('Index', 'images/textlogo.png', true) }}" />

                <div id="infos">
                    <b>{{ getLangText("status") }} : <span style="color: #00ff00">{{ getLangText("working") }}</span></b><br /><br />

                    Paladin : <span style="color: #00ff00">{{ paladinVersion }}</span><br />
                    Twig : <span style="color: #00ff00">{{ constant('Twig_Environment::VERSION') }}</span><br />
                    jQuery : <span style="color: #00ff00">jQueryVersion</span><br />
                    Server : <span style="color: #00ff00">{{ serverVersion }}</span><br />
                </div>
            </div>

            <div id="right-buttons">
                <a href="Settings">
                    <div id="settings" class="button top-button" style="display: none;">
                        <img id="settings-icon" class="button-icon" src="{{ getResource('Index', 'images/settings.png', true) }}" />
                        <p id="settings-label" class="button-label">{{ getLangText("settings") }}</p>
                    </div>
                </a>

                <a href="About">
                    <div id="about" class="button bottom-button" style="display: none;">
                        <img id="about-icon" class="button-icon" src="{{ getResource('Index', 'images/about.png', true) }}" />
                        <p id="about-label" class="button-label">{{ getLangText("about") }}</p>
                    </div>
                </a>
            </div>
        </div>


    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ getResource('shared', 'js/jquery-1.11.3.min.js', false) }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ getResource('shared', 'js/bootstrap.min.js', false) }}"></script>

    <!-- Index JS script -->
    <script src="{{ getResource('Index', 'js/index.js', false)}}"></script>

    <!-- Starting the JS script -->
    <script>
        start({{ serverEnabled }});
    </script>
</body>
</html>
