<!--
  Copyright 2015 TheShark34

  This file is part of S-Update-Server.

  S-Update-Server is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  S-Update-Server is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
-->

{#
    Redirection script if the page was acceed manually
    <?php
        header("Location: GetOutOfHere");
    ?>
#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>S-Update-Server - Setup</title>

    <!-- Bootstrap -->
    <link href="{{ getResource('shared', 'css/bootstrap.min.css', true) }}" rel="stylesheet">

    <!-- The S-Update Icon -->
    <link rel="icon" href="{{ getResource('shared', 'icon.png', true) }}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- S-Update-Server global CSS -->
    <link href="{{ getResource('shared', 'css/global.css', true) }}" rel="stylesheet">

    <!-- Login CSS -->
    <link href="{{ getResource('Install', 'css/style.css', true) }}" rel="stylesheet">

    <!-- Lato Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class='fulldiv'>
        <div class="center" id="centerDiv">
            <span id="textspan">Loading</span>

            <img onclick="frenchSelected()" id="frenchflag" src="{{ getResource("Install", "images/france.png", true) }}" />
            <img onclick="englishSelected()" id="ukflag" src="{{ getResource("Install", "images/uk.png", true) }}" />

            <div id="formDiv">
                <form id="form" method="post" target="">
                    <input id="language" style="display: none;" type="text" name="language" id="language" />

                    <input class="text-field" placeholder="Password" style="display: none;" type="password" name="password" id="password" required/><br />
                    <input class="text-field" placeholder="Validation Password" style="display: none;" type="password" name="vpassword" id="vpassword" required/><br /><br />
                </form>
                <button onclick="finishConfig()" style="display: none" class="submit-button" id="sub">Finish</button><br /><br />
                <span id="error"></span>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ getResource('shared', 'js/jquery-1.11.3.min.js', false) }}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ getResource('shared', 'js/bootstrap.min.js', false) }}"></script>

    <!-- The Install JS -->
    <script src="{{ getResource('Install', 'js/install.js', false)}}"></script>
</body>
</html>
