{#
 # Copyright 2015 TheShark34
 #
 # This file is part of S-Update-Server.
 #
 # S-Update-Server is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Lesser General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # S-Update-Server is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU Lesser General Public License for more details.
 #
 # You should have received a copy of the GNU Lesser General Public License
 # along with S-Update-Server.  If not, see <http://www.gnu.org/licenses/>.
 #}

{#
 # Panel error page
 #
 # v3-(Panel-1.1.0-BETA)
 #}

{% extends 'templates/base.twig' %}

{% block title %}Error{% endblock %}

{% block head %}
    <!-- Error page CSS -->
    <link href="{{ resPath ~ "css/error.css" }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url({{ resPath ~ "images/background.png" }});
        }
    </style>
    <div class='fulldiv'>
        <div class="center">
            <img src="{{ resPath ~ 'images/logo.png' }}" />

            <br />
            <br />
            <br />

            <h1>{{ title }}</h1>

            <br/>

            <p>
                {{ message }}

                <br />
                <br />
                <br />

                <button id="home" onclick="window.location.href = '{{ app.request.basepath }}'">Home</button>
                <button id="prev-page" onclick="history.go(-1);">Previous Page</button>
            </p>
        </div>
    </div>
{% endblock %}
